@use '../../styles/constants/colors' as color;

.bookmark {
  position: relative;
  z-index: 0;
  width: 300px;
  padding-top: 40px;
  margin: 0 auto;
  // overflow: scroll;

  &__title {
    position: fixed;
    left: 50%;
    font-size: 24px;
    color: color.$GOLD;
    text-align: center;
    transform: translateX(-50%);
  }

  &__list {
    position: absolute;
    top: 100px;
    z-index: 100;
    height: 624px;
    overflow: scroll;
  }
}
